<form [formGroup]="ChangePasswordForm">
    <div class="row">
        <div class="col-12">
            <div class="card-box ribbon-box" style="background-color: lightgray;">
                <h4>Password Length Must be in</h4>
                <div class="ribbon-content">
                    <ul>
                        <li>8 characters length</li>
                        <li>1 letters in Upper Case</li>
                        <li>1 Special Character (!@#$&*)</li>
                        <li>1 numerals (0-9)</li>
                        <li>1 letters in Lower Case</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 form-group">
            <app-label Required="True" LabelText="New Password"></app-label>
            <input formControlName="new_password" class="form-control" [(ngModel)]="new_password" />
            <app-validation-message propertyName="new_password" [MessageArray]="ChangePasswordValidationMessages" [FormGroupName]="ChangePasswordForm"></app-validation-message>
            <div style='color:red' *ngIf="ChangePasswordForm?.get(['new_password']).value != ChangePasswordForm?.get(['confirm_password']).value">
                Password does not match</div>
        </div>
        <div class="col-lg-6 form-group">
            <app-label Required="True" LabelText="Confirm Password"></app-label>
            <input formControlName="confirm_password" class="form-control" [(ngModel)]="confirm_password" />
            <app-validation-message propertyName="confirm_password" [MessageArray]="ChangePasswordValidationMessages" [FormGroupName]="ChangePasswordForm"></app-validation-message>
            <div style='color:red' *ngIf="ChangePasswordForm?.get(['new_password']).value != ChangePasswordForm?.get(['confirm_password']).value">
                Password does not match</div>
        </div>
    </div>
</form>
<hr />
<div class="row">
    <div class="col-lg-12 pull-left">
        <button type="button" appRightbutton rights="New" class="btn btn-primary  waves-effect waves-light m-1" (click)="ChangePassword()"><span> Confirm</span></button>
    </div>
</div>